.container {
	margin: 1rem auto;
	width: 75%;
}

.display {
	text-align: end;
	padding-right: 1rem;
	border-style: solid;
	border-width: thin;
	border-radius: 1.5rem;
}

.display p {
	margin: 0.5rem 0;
}

.display .operation {
	color: rgba(0, 0, 0, 0.5);
	min-height: 1.25rem;
}

.display .result {
	font-size: 30px;
	color: black;
}

.display .result-error {
	color: red;
}

.buttons {
	margin-top: 1rem;
	display: grid;
	justify-content: space-evenly;
	grid-template-columns: repeat(4, 25%);
	gap: 0.75rem;
}
